::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    background-color: var(--background);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: var(--primary);
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: content-box;
    font-family: 'Nunito', sans-serif;
    background-color: var(--background);
    color: var(--text-500);
    margin: 0;
    padding: 0;
}

header {
    background: var(--primary);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

header nav {
    display: flex;
    height: 100%;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    justify-content: start;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    color: var(--text);
    padding: 0;
}

header nav .left {
    margin: 0 auto 0 0;
}

header nav .middle {
    margin: 0 auto 0 auto;
}

header nav .right {
    margin: 0 0 0 auto;
    opacity: 1 !important;
}

@media(min-width: 1000px) {

    header nav .right {
        opacity: 1 !important;
    }
}

header nav .dropdown {
    opacity: 0;
    position: absolute;
    background: none;
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: var(--text);
    transition: all .4s ease-in-out;
}

header nav .dropdown:hover {
    cursor: pointer;
}

@keyframes bounce {
    25% {
        transform: rotate(-5deg) translateX(-2px) translateY(2px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: rotate(5deg) translateX(2px) translateY(2px);
    }

    100% {
        transform: rotate(0deg) translateX(0) translateY(0);
    }
}

header nav ul a {
    color: var(--text);
    text-decoration: none;
    transition: all .4s ease-in-out, color 0s;
    margin: 0 .5rem;
}

header nav ul .home {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
}

header nav ul .home:hover {
    animation: bounce .2s linear 0s infinite forwards normal;
}

header nav ul .home svg {
    margin: auto .2rem auto 0;
}

header nav .right a {
    font-weight: 600;
    border-radius: .2rem;
    padding: .5rem .7rem;
}

header nav .right a:hover {
    box-shadow: 0 0 1rem .05rem #00000084;
}

.divider {
    display: flex;
    margin: 3rem auto;
    border-radius: .5rem;
    width: 80%;
    height: 2px;
    background-color: var(--primary);
}

main {
    margin: 5rem 0 0 0;
}

main .banner {
    background: linear-gradient(to right top, #000000c6, #000000c6), url('../img/bg-banner.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    backdrop-filter: opacity(50%);
    width: 100%;
    height: calc(100vh - 5rem);
}

main .banner h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text);
}

main .banner h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
}

main .banner a {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--text);
    font-size: 1.3rem;
    padding: .7rem 1.8rem;
    border-radius: .4rem;
    transition: all .4s ease-in-out;
}

main .banner a:hover {
    box-shadow: 0 0 1rem .005rem black;
    transform: scale(105%);
}

main .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20rem;
}

main .search h5 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--text);
}

main .search form {
    display: flex;
    justify-content: center;
    width: 100%;
}

main .search input {
    width: 22rem;
    height: 3rem;
    font-size: 1.2rem;
    padding: .2rem 1.5rem;
    margin: 0 .5rem 0 .5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

main .search button {
    width: 3rem;
    background-color: var(--primary);
    color: var(--text);
    height: 3rem;
    padding: .2rem .2rem;
    margin: 0 .5rem 0 .5rem;
    box-sizing: content-box;
    border-radius: 2rem;
    border: none;
    outline: none;
}

main .search button:hover {
    cursor: pointer;
}

main .search button svg {
    width: 20px;
    height: 20px;
    transition: all .6s ease-in-out;
}

main .search button:hover svg {
    transform: rotate(360deg) scale(150%);
}

main .featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .featured h5 {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--text);
}

main .featured-container {
    margin: 2rem 2rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .featured-container li {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12rem;
    height: 20rem;
    border-radius: 1rem;
    margin: .5rem .5rem;
    transition: all .4s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
}

main .featured-container:hover li {
    opacity: .5;
}

main .featured-container li:hover {
    transform: scale(105%);
    cursor: pointer;
    opacity: 1;
}

main .featured-container li .title {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 90%;
    padding: 5px 5% 5px 5%;
    bottom: 0;
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
    color: var(--text);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, black 20%, black 80%, rgba(255, 255, 255, 0) 100%);
    transition: all .4s ease-in-out;
}

main .featured-container li:hover .title {
    opacity: 1;
}

main .best {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .best .carousel {
    display: flex;
    width: 90%;
    height: 21rem;
    overflow-x: auto;
    overflow-y: hidden;
}

main .best h5 {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--text);
}

main .best-container {
    margin: 2rem 2rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

main .best-container li {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 10rem;
    height: 16rem;
    border-radius: 1rem;
    margin: .5rem .5rem;
    transition: all .4s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
}

main .best-container:hover li {
    opacity: .5;
}

main .best-container li:hover {
    transform: scale(105%);
    cursor: pointer;
    opacity: 1;
}

main .best-container li .title {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 90%;
    padding: 5px 5% 5px 5%;
    bottom: 0;
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
    color: var(--text);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, black 20%, black 80%, rgba(255, 255, 255, 0) 100%);
    transition: all .4s ease-in-out;
}

main .best-container li:hover .title {
    opacity: 1;
}

footer {
    background-color: var(--primary);
    margin: 2rem 0 0 0;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li {
    margin: 0 .5rem;
}

footer ul li a {
    font-size: 1.1rem;
    color: var(--text);
    font-weight: 700;
    padding: .5rem .8rem;
    text-decoration: none;
    border-radius: .2rem;
    transition: all .4s ease-in-out;
}

footer ul li a:hover {
    box-shadow: 0 0 1rem .005rem black;
    transform: scale(105%);
}

footer .go-back {
    position: fixed;
    bottom: 1%;
    right: 2%;
    border-radius: 50%;
    border: 4px solid var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    height: 2rem;
    width: 2rem;
    color: var(--text);
}

@media(max-width: 1000px) {
    header nav .right {
        z-index: 1;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background: none;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }

    @keyframes enter-in {
        100% {
            transform: translateY(0);
        }
    }

    @keyframes enter-out {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-15rem);
        }
    }

    header nav .right ul {
        display: table;
        width: 100%;
        margin: 0;
        background: var(--text);
        color: var(--background);
        transform: translateY(-15rem);
        transition: all .4s ease-in-out;
    }

    header nav .open {
        pointer-events: all;
    }

    header nav .open ul {
        animation: enter-in .4s ease-in-out 0s 1 forwards normal;
    }

    header nav .close ul {
        animation: enter-out .4s ease-in-out 0s 1 forwards normal;
    }

    header nav .right li {
        display: flex;
        justify-content: center;
    }

    header nav .dropdown {
        opacity: 1;
        position: relative;
    }

    header nav .right li a {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        color: var(--background);
    }

    header nav .right li:nth-child(odd) {
        background-color: white;
    }

    header nav .right li:nth-child(even) {
        background-color: rgb(212, 212, 212);
    }

    main .banner h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    main .banner h2 {
        text-align: center;
        font-size: 1rem;
    }

    main .search {
        height: 12rem;
    }

    main .search h5 {
        font-size: 1.1rem;
    }

    main .search input {
        width: 50%;
    }

    main .featured h5 {
        font-size: 1.1rem;
    }

    main .best h5 {
        font-size: 1.1rem;
    }

    footer {
        height: 12rem;
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin: .5rem 0;
    }
}