::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    background-color: var(--background);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: var(--primary);
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: content-box;
    font-family: 'Nunito', sans-serif;
    background-color: #181419;
    color: var(--text-500);
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    z-index: -1;
    inset: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/bg-register.jpg");
}

header {
    background: linear-gradient(black 0%, rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(3px);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

header nav {
    display: flex;
    height: 100%;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    justify-content: start;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    color: var(--text);
    padding: 0;
}

header nav .left {
    margin: 0 auto 0 0;
}

header nav .middle {
    margin: 0 auto 0 auto;
}

header nav .right {
    margin: 0 0 0 auto;
    opacity: 1 !important;
}

@media(min-width: 1000px) {

    header nav .right {
        opacity: 1 !important;
    }
}

header nav .dropdown {
    opacity: 0;
    position: absolute;
    background: none;
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: var(--text);
    transition: all .4s ease-in-out;
}

header nav .dropdown:hover {
    cursor: pointer;
}

@keyframes bounce {
    25% {
        transform: rotate(-5deg) translateX(-2px) translateY(2px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: rotate(5deg) translateX(2px) translateY(2px);
    }

    100% {
        transform: rotate(0deg) translateX(0) translateY(0);
    }
}

header nav ul a {
    color: var(--text);
    text-decoration: none;
    transition: all .4s ease-in-out, color 0s;
    margin: 0 .5rem;
}

header nav ul .home {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
}

header nav ul .home:hover {
    animation: bounce .2s linear 0s infinite forwards normal;
}

header nav ul .home svg {
    margin: auto .2rem auto 0;
}

header nav .right a {
    font-weight: 600;
    border-radius: .2rem;
    padding: .5rem .7rem;
}

header nav .right a:hover {
    cursor: pointer;
    background: black;
    box-shadow: 0 0 1rem .05rem #00000084;
}

main {
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: center;
}

@keyframes pop-in {
    0% {
        transform: scale(0%) rotate(-15deg);
        opacity: 50%;
    }

    90% {
        transform: scale(99%) rotate(.1deg);
        opacity: 99%;
    }

    100% {
        transform: scale(100%) rotate(0deg);
        opacity: 100%;
    }
}

main .card {
    margin: 2rem 0;
    width: 400px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 40px 20px black;
    animation: pop-in .8s ease-out 0s 1 normal forwards;
}

main .card>h6 {
    color: var(--text);
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

main .card>form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .card>form>.input,
main .card>form>.input-date,
main .card>form>.input-country {
    position: relative;
    display: flex;
    width: 90%;
    margin: .9rem calc((100% - 90%) / 2);
}

main .card .input input[type="password"]::-ms-reveal,
main .card .input input[type="password"]::-ms-clear {
  display: none;
}

main .card .eye {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath fill='%23808080' d='M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0'/%3E%3C/svg%3E");
    width: 1.5em;
    height: 1.5em;
    right: 0;
    margin: 0 1rem 0 0;
    align-self: center;
    user-select: none;
}

main .card .eye.close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath fill='%23808080' d='M2 5.27L3.28 4L20 20.72L18.73 22l-3.08-3.08c-1.15.38-2.37.58-3.65.58c-5 0-9.27-3.11-11-7.5c.69-1.76 1.79-3.31 3.19-4.54zM12 9a3 3 0 0 1 3 3a3 3 0 0 1-.17 1L11 9.17A3 3 0 0 1 12 9m0-4.5c5 0 9.27 3.11 11 7.5a11.8 11.8 0 0 1-4 5.19l-1.42-1.43A9.86 9.86 0 0 0 20.82 12A9.82 9.82 0 0 0 12 6.5c-1.09 0-2.16.18-3.16.5L7.3 5.47c1.44-.62 3.03-.97 4.7-.97M3.18 12A9.82 9.82 0 0 0 12 17.5c.69 0 1.37-.07 2-.21L11.72 15A3.064 3.064 0 0 1 9 12.28L5.6 8.87c-.99.85-1.82 1.91-2.42 3.13'/%3E%3C/svg%3E");
}

main .card .eye:hover {
    cursor: pointer;
}

main .card .input input {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    color: white;
    background: var(--background);
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

main .card .input-date input,
main .card .input-country select {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    color: grey;
    background: var(--background);
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color-scheme: dark;
}

main .card .input-date input.valid,
main .card .input-country select.valid {
    color: white;
}

main .card .input-country select>option {
    background: var(--background);
}

main .card .input input:not(input:placeholder-shown),
main .card .input input:focus,
main .card .input-date input.valid,
main .card .input-country select.valid {
    border: 1px solid var(--primary);
}

main .card .input input:not(input:placeholder-shown)~label,
main .card .input input:focus~label {
    transform: translateY(-25px);
    color: var(--primary);
    font-size: .95rem;
    background: var(--background);
}

main .card .input input:not(input:placeholder-shown)~.eye,
main .card .input input:focus~.eye {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath fill='%239f3647' d='M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0'/%3E%3C/svg%3E");
}

main .card .input input:not(input:placeholder-shown)~.eye.close,
main .card .input input:focus~.eye.close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath fill='%239f3647' d='M2 5.27L3.28 4L20 20.72L18.73 22l-3.08-3.08c-1.15.38-2.37.58-3.65.58c-5 0-9.27-3.11-11-7.5c.69-1.76 1.79-3.31 3.19-4.54zM12 9a3 3 0 0 1 3 3a3 3 0 0 1-.17 1L11 9.17A3 3 0 0 1 12 9m0-4.5c5 0 9.27 3.11 11 7.5a11.8 11.8 0 0 1-4 5.19l-1.42-1.43A9.86 9.86 0 0 0 20.82 12A9.82 9.82 0 0 0 12 6.5c-1.09 0-2.16.18-3.16.5L7.3 5.47c1.44-.62 3.03-.97 4.7-.97M3.18 12A9.82 9.82 0 0 0 12 17.5c.69 0 1.37-.07 2-.21L11.72 15A3.064 3.064 0 0 1 9 12.28L5.6 8.87c-.99.85-1.82 1.91-2.42 3.13'/%3E%3C/svg%3E");
}

main .card .input-date input.valid~label,
main .card .input-country select.valid~label {
    color: var(--primary);
    background: var(--background);
}

main .card .input label {
    color: grey;
    font-size: .95rem;
    background: none;
    position: absolute;
    border-radius: .1rem;
    pointer-events: none;
    user-select: none;
    bottom: 12px;
    left: 15px;
    padding: 0 .25rem;
    transition: all .2s ease-in-out;
}

main .card .input .error,
main .card .input-country .error,
main .card .input-date .error,
main .card .check .error {
    color: red;
    font-size: .95rem;
    background: none;
    position: absolute;
    border-radius: .1rem;
    pointer-events: none;
    user-select: none;
    bottom: -20px;
    left: 15px;
    padding: 0 .25rem;
    opacity: 1;
    font-size: .75rem;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}

main .card .input .error.hidden,
main .card .input-country .error.hidden,
main .card .input-date .error.hidden,
main .card .check .error.hidden {
    opacity: 0;
}

main .card .input .error:not(.hidden)~input,
main .card .input-country .error:not(.hidden)~select,
main .card .input-date .error:not(.hidden)~input,
main .card .check .error:not(.hidden)~input {
    border: 1px solid red;
}

main .card .input .error:not(.hidden)~label,
main .card .input-country .error:not(.hidden)~label,
main .card .input-date .error:not(.hidden)~label {
    color: red;
}

main .card .input-date label,
main .card .input-country label {
    color: grey;
    font-size: .9rem;
    background: var(--background);
    position: absolute;
    border-radius: .1rem;
    pointer-events: none;
    user-select: none;
    top: -9px;
    left: 15px;
    padding: 0 .25rem;
    transition: all .2s ease-in-out;
}

main .card .check {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: .9rem;
    margin: .5rem 1rem 2rem 1rem;
}

main .card .check input {
    height: .8rem;
    width: .8rem;
}

main .card .button {
    display: flex;
    justify-content: center;
}

main .card .button button[type=submit] {
    width: 80%;
    border-radius: .2rem;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--text);
    padding: 1rem 0;
}

main .card .button button[type=submit]:hover {
    cursor: pointer;
}

main .card .button button[type=submit][disabled] {
    opacity: .5;
}

main .card .button button[type=submit][disabled]:hover {
    cursor: default;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

main .loader-wrapper {
    position: fixed;
    z-index: 1;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

main .loader-wrapper[hidden] {
    pointer-events: none;
    user-select: none;
    opacity: 0;
}

main .loader-background {
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 32em;
    height: 379px;
    max-width: calc(100% - (.625em * 2));
}

main .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

main .card .help {
    color: grey;
    text-decoration: none;
    margin: 1rem 1rem;
}

@media (max-width: 900px) {
    header nav .right {
        z-index: 1;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background: none;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }

    @keyframes enter-in {
        100% {
            transform: translateY(0);
        }
    }

    @keyframes enter-out {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-15rem);
        }
    }

    header nav .right ul {
        display: table;
        width: 100%;
        margin: 0;
        background: var(--text);
        color: var(--background);
        transform: translateY(-15rem);
        transition: all .4s ease-in-out;
    }

    header nav .open {
        pointer-events: all;
    }

    header nav .open ul {
        animation: enter-in .4s ease-in-out 0s 1 forwards normal;
    }

    header nav .close ul {
        animation: enter-out .4s ease-in-out 0s 1 forwards normal;
    }

    header nav .right li {
        display: flex;
        justify-content: center;
    }

    header nav .dropdown {
        opacity: 1;
        position: relative;
    }

    header nav .right li a {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        color: var(--background);
    }

    header nav .right a:hover {
        background: none;
        box-shadow: 0 0 1rem .05rem #00000084;
    }

    header nav .right li:nth-child(odd) {
        background-color: white;
    }

    header nav .right li:nth-child(even) {
        background-color: rgb(212, 212, 212);
    }
}

@media (max-width: 400px) {
    main .card {
        width: 95%;
    }
}